<?xml version="1.0" encoding="UTF-8"?>
<configuration> <!-- 5분 초 간격으로 파일 확인하여 반영-->
    <!--  scan="true" scanPeriod="300 seconds" -->

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- 로그 파일 경로 및 이름 설정 -->
    <springProperty scope="context" name="LOG_PATH" source="logging.file.path"/>
    <property name="LOG_FILE_NAME" value="logging"/>
    <property name="ERR_LOG_FILE_NAME" value="err_logging"/>

    <!-- Console 로그 설정 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-4relative] %green([%thread]) %highlight(%-5level) %boldWhite([%C.%M:%yellow(%L)]) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Rolling File Appender 일반로그 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd, Asia/Seoul}.%i</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>3</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Error 로그 전용 Rolling File Appender -->
    <appender name="Error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${ERR_LOG_FILE_NAME}.%d{yyyy-MM-dd, Asia/Seoul}.%i</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <maxRequestBodySize>always</maxRequestBodySize>
        <sendDefaultPii>true</sendDefaultPii>
        <tracesSampleRate>1.0</tracesSampleRate>
        <minimumEventLevel>ERROR</minimumEventLevel>
        <minimumBreadcrumbLevel>DEBUG</minimumBreadcrumbLevel>
    </appender>

    <!-- Sentry 및 WebHook 설정 -->
    <springProperty name="SENTRY_REPOSITORY_URI" source="logging.sentry.repository-uri"/>
    <springProperty name="ENVIRONMENT" source="logging.sentry.environment"/>
    <springProperty name="DISCORD_WEBHOOK_URL" source="logging.sentry.discord-webhook-url"/>
    <appender name="DISCORD" class="com.github.napstr.logback.DiscordAppender">
        <webhookUri>${DISCORD_WEBHOOK_URL}</webhookUri>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>*🚨[${ENVIRONMENT}] %d{yyyy-MM-dd HH:mm:ss.SSS} %-4relative [%thread] %-5level %class - %msg &lt;[Go-To-Sentry](${SENTRY_REPOSITORY_URI})&gt;*
                %n
            </pattern>
        </layout>
    </appender>
    <appender name="ASYNC_DISCORD" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="DISCORD"/>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <!-- local 로그 레벨 및 WebHook 설정 -->
    <springProfile name="local">
        <include resource="console-appender.xml"/>
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="Error"/>
        </root>
    </springProfile>

    <!-- local 로그 레벨 및 WebHook 설정 -->
    <springProfile name="dev">
        <include resource="console-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="Error"/>
<!--            <appender-ref ref="Sentry"/>-->
<!--            <appender-ref ref="ASYNC_DISCORD"/>-->
        </root>
    </springProfile>

    <!-- local 로그 레벨 및 WebHook 설정 -->
    <springProfile name="prod">
        <include resource="console-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
<!--            <appender-ref ref="Sentry"/>-->
<!--            <appender-ref ref="ASYNC_DISCORD"/>-->
        </root>
    </springProfile>

</configuration>
